{% extends "maintemplate.html" %}

{% block content %}

<div class="header">
    <a href="{% url 'url' %}">&#8592; Back</a>
</div>


<div class="body">
    <div >Shortened Url : <a href="{% url 'urlRedirect' urls.shortUrl %}" >{{ request.META.HTTP_HOST }}/url/{{urls.shortUrl}}</a></div>
    <div> Created : {{urls.create}}</div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input class="button" type="submit" value="Update">
    </form>

</div>

{% endblock content %}